/* Custom styles for the form */
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

/* Style for the remove icon */
.remove-icon {
  cursor: pointer;
  color: #e74c3c;
  margin-left: 5px;
}

/* Style for the file path entry */
.file-path-entry {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 50px;
}

.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.drop-zone {
  min-height: 100px; /* Adjust this value as needed */
  border: 2px dashed #007bff;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.drop-zone:hover {
  background-color: #e0e0e0;
}

/* Additional styling for sections */
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section {
  width: 100%;
  max-width: 600px; /* Optional: limit the maximum width if needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.check-mark {
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s;
  opacity: 0;
  margin-left: 5px;
}

.check-mark.show {
  visibility: visible;
  opacity: 1;
}

.progress-bar {
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s;
  opacity: 0;
  margin-left: 5px;
}

.progress-bar.show {
  visibility: visible;
  opacity: 1;
}